* {
    
    margin: 0%;
    padding: 0%;
}

.videos{
    margin-top: 8px;

}

.banner{

    margin-bottom:0px;
    position: relative;
 

}
.banner-text{
    position: absolute;
    top:0;
    padding: 350px;
    padding-left: 20px;
    font-size:40px;
    color:#fff
}

.ranveer{
    object-fit: contain;
    width:1500px
}

body, html {
    height: 100%;
  }
  
.food{
    margin-top:4px;
    margin-bottom: 4px;
}

.head {
    /* padding: 24px;
   margin-top: 63px; */
    position: relative;
    top: 20px;
    margin-bottom: 2px;
    padding: 73px;
    text-align: center;
}
.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.head span {
    color: rgb(65, 149, 245);
}

.crd {
    display: flex;
    justify-content: center;
    margin-top: 8pxpx;
}

.card {
    width: 300px;
    background-color:rgb(245, 245, 220);
    margin-inline: 60px;
    color: black;

}

.card:hover {
    background-color: rgb(46, 46, 46);
    color: #fff;
    transition: 0.7s ease;
}

.crd img {
    width: 100%;
    text-align: center;
}

.cardText {
    padding: 12px;
}

.cardText p {
    margin-top: 11px;
}

.cardText button {
    margin-top: 21px;
    width: 100px;
    height: 31px;
    background-color: rgb(236, 4, 4);
    color: white;
    border: none;
    font-size: 17px;

}

.cardText button:hover {
    background-color: transparent;
    border: 2px solid rgb(235, 4, 4);
    cursor: pointer;

}


